<div class="headers">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Key</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="" id=""></td>
                <td>Content-Type</td>
                <td>application/json</td>
                <td><button>
                        <img src="trash.svg" class="icon">
                    </button></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" placeholder="Header name"></td>
                <td><input type="text" placeholder="Header value"></td>
                <td><button><img src="plus.svg" class="icon"></button></td>
            </tr>
        </tbody>
    </table>
</div>